@import "../variables";
@import "../mixins";

$img-height: 690px;

.discounts {
    position: relative;

    padding: 0 $grid-gutter-width/2;
    margin: 40px auto;

    @include tabletUp() {
        margin-top: 140px;
    }
    
    @media (max-width: 991px) {
        margin: 100px 0 0 0;
        padding: 0;
    }
    
    @media (max-width: 767px) {
        margin: 80px 0 0 0;
    }

    max-width: $max-content-width;

    & > .wrap {
        display: flex;
        justify-content: space-between;

        position: relative;
        margin: 0 auto;

        max-width: $content-width;

        @include tabletUp() {
            height: $img-height;
        }
        
        @media (max-width: 1100px){
            height: auto;
        }

    }

    &__title {
        color: $brand-mute;
        font-size: 2.7125em;

        @include tabletUp() {
            margin: 0 0 80px;

            font-size: 3.125em;
            text-align: center;
        }
    }

    &__text {
        line-height: 1.4;

        @include tabletUp() {
            margin: 0 0 50px;
        }
    }

}

.discounts__block {

    &--image {
        display: none;

        @include desktop() {
            display: block;
            height: $img-height;

            flex-grow: 1;
            transform: translateX(40px);

            background: url(./discounts-bg-new.png) no-repeat 0 50% transparent;
            background-size: contain;

            position: relative;
            background: none;

            &:before,
            &:after{
                content: '';
                display: block;
                position: absolute;
                z-index: 0;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
            }

            &:before{
                background: url(./aura-2.png) no-repeat 0 50% transparent;
                background-size: contain;
                width: 317px;
                height: 331px;
                top: 50%;
                left: 50%;
                margin: -244px 0 0 -182px;
                opacity: 0;
            }

            @media (max-width: 1450px){
                &:before{
                    margin: -242px 0 0 -190px;
                }
            }
            
            @media (max-width: 1400px){
                &:before{
                    margin: -228px 0 0 -182px;
                }
            }
            
            @media (max-width: 1350px){
                &:before{
                    margin: -228px 0 0 -182px;
                }
            }
            
            @media (max-width: 1300px){
                &:before{
                    margin: -228px 0 0 -182px;
                }
            }
            
            @media (max-width: 1250px){
                &:before{
                    margin: -215px 0 0 -171px;
                }
            }
            
            @media (max-width: 1200px){
                &:before{
                    margin: -215px 0 0 -171px;
                }
            }
            
            @media (max-width: 1150px){
                &:before{
                    margin: -215px 0 0 -171px;
                }
            }

            &.js-animated:before{
                animation-name: auraBg2;
                animation-delay: .5s;
                animation-duration: 5s;
                animation-fill-mode: both;
                transition-timing-function: cubic-bezier(0.23, 1, 0.32, 1);
            }

            @keyframes auraBg2{
                from{
                    opacity: 0;
                    transform: scale(.8);
                }
                10%{
                    opacity: 1;
                    transform: scale(1);
                }
                to{
                    opacity: 1;
                    transform: scale(1.15);
                }
            }
            
            &:after{
                background: url(./discounts-bg.png) no-repeat 0 50% transparent;
                background-size: contain;
            }

        }
        
        @media (max-width: 1100px){
            display: none;
        }

    }

    &--text {
        max-width: 920px;
        
        @media (max-width: 1100px){
            max-width: 100vw;
            margin: 0 auto;
        }
        
        @media (max-width: 767px) {
            text-align: center;
        }

    }
}

.discount-options {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;

    @include tabletUp() {
        flex-direction: row;
        justify-content: flex-end;
    }
    
    @media (max-width: 991px) {
        justify-content: center;
    }


    &__item {
        display: flex;
        flex-direction: column;
        justify-content: center;

        height: 238px;

        color: $brand-mute;
        text-align: center;

        background-repeat: no-repeat;
        background-color: transparent;
        background-size: contain;
        background-position: 50% 50%;

        &--1 {
            background-image: url(./discount-1.png);
            width: 345px;
        }

        &--2 {
            background-image: url(./discount-2.png);
            width: 287px;
        }

        &--3 {
            background-image: url(./discount-3.png);
            width: 283px;
        }
        
        @media (max-width: 767px) {
            margin: 0 auto;
        }
    }

    &__title {
        font-size: 1.375em;
    }

    &__text,
    &__discount {
        font-size: 2em;
    }

    &__discount {
        color: $brand-color;
        font-weight: 700;
    }

}
