@import "../variables";
@import "../mixins";

$footer-background: #0c0c0c;

.footer {
    padding: 20px 30px 60px;
	overflow: hidden;

    background: $footer-background;

    @include desktop() {
        margin-top: -220px;
        padding: 40px 60px 80px;
        z-index: 2;
    }
    
    @media (max-width: 1100px){
        margin-top: 60px;
    }
    
    @media (max-width: 767px) {
        margin-top: 20px;
        padding: 0 15px 40px;
    }

    position: relative;

    @include tabletUp() {
    }

    &__text {
        margin: 0 auto;

        font-size: 0.9375em;
        text-align: justify;
    }

    &__nav {
        display: flex;
        justify-content: space-between;
        align-items: center;

        margin-top: 40px;
    }

    &__logo {
        margin-right: 20px;
        width: 100px;
        vertical-align: middle;
    }

    &__link {
        text-decoration: none;
        color: #fff;

        text-transform: uppercase;
    }
}
