@import "../variables";
@import "../mixins";

.footer {
    display: flex;
    align-items: flex-end;

    position: relative;
    height: 267px;

    @include tabletUp() {
    }

    &__text {
        max-width: $content-width;
        margin: 0 auto;

        font-size: 0.8125em;
        text-align: center;

        padding-bottom: 40px;
    }
}
