@import "../variables";
@import "../mixins";

$footer-background: #0c0c0c;

.footer {
    padding: 20px 30px;

    background: $footer-background;

    @include desktop() {
        padding: 60px 100px 40px;
    }

    position: relative;

    @include tabletUp() {
    }

    &__text {
        margin: 0 auto;

        font-size: 0.9375em;
        text-align: justify;
    }

    &__nav {
        display: flex;
        justify-content: space-between;
        align-items: center;

        margin-top: 20px;
    }

    &__logo {
        margin-right: 20px;
        width: 100px;
        vertical-align: middle;
    }

    &__link {
        text-decoration: none;
        color: #fff;

        text-transform: uppercase;
    }
}
