@import "../variables";
@import "../mixins";

$img-height: 1128px;

.team {
    position: relative;

    padding: 0 $grid-gutter-width/2;
    margin: 0 auto;

    max-width: $max-content-width;
    text-align: center;

    &:before {
        content: "";
        position: absolute;

        top: 0;
        left: 0;

        width: 100%;
        height: 100%;

        background: url(../assets/auracoins/team-bg.png) no-repeat 0 80px transparent;
        background-size: contain;
    }

    @include desktop() {
        transform: translateY(-300px);
    }

    & > .wrap {
        position: relative;
        margin: 0 auto;

        max-width: $content-width;
    }

    &__title {
        font-size: 2.5125em;
        color: $brand-mute;

        @include tabletUp() {
            margin-bottom: 100px;

            font-size: 3.125em;
        }
    }

    .social {
        margin: 40px auto;

        @include tabletUp() {
            margin-top: 100px;
            max-width: 265px;
        }
    }
}

.team-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    
    margin: 40px auto;
    
    &__item {
        margin: 20px 0;

        color: #fff;

        width: 50%;
        text-align: center;
        
        &:first-child {
            margin-left: 0;
        }
        
        &:last-child {
            margin-right: 0;
        }
        
        
        @include tabletUp() {
            width: auto;
            margin: 0 20px;
        }
    }
    
    &__name,
    &__position {
        text-transform: uppercase;
    }

    &__position {
        margin-top: 10px;
        font-weight: 700;
    }

    &__name {
        margin: 5px 0;
        font-size: 1.125em;
    }

    &__photo {
        position: relative;
        margin-bottom: 15px;

        img {
            clip-path: polygon(31% 0, 83% 6%, 91% 59%, 64% 93%, 33% 99%, 7% 84%, 0 35%);
        }

        &:after {
            content: "";
            position: absolute;

            bottom: 0;
            right: 20px;

            width: 25px;
            height: 27px;

            background: url(../assets/auracoins/linkedin.png) no-repeat 50% 50% transparent;
        }
    }
    
    &--align-center {
        justify-content: center;

        @include tabletUp() {
            margin-bottom: 80px;
        }
    }
}
