@import "../variables";
@import "../mixins";

$img-height: 732px;

.vision {
    position: relative;

    padding: 0 $grid-gutter-width*1.5;
    margin: 40px auto;

    @include tabletUp() {
        margin-top: 130px;
    }
    
    @media (max-width: 991px) {
        margin-top: 100px;
    }
    
    @media (max-width: 991px) {
        padding: 0 40px;
    }
    
    @media (max-width: 767px) {
        text-align: center;
        margin: 80px 0 0 0;
        padding: 0 15px;
    }

    max-width: $max-content-width;

    & > .wrap {
        display: flex;
        justify-content: space-between;
        align-items: center;

        position: relative;
        margin: 0 auto;

        max-width: $content-width;

        @include tabletUp() {
            height: $img-height;
        }
        
        @media (max-width: 1100px){
            height: auto;
            margin-bottom: 50px;
        }
        
        @media (max-width: 767px) {
            margin-bottom: 0;
        }

    }

    &__title {
        color: $brand-mute;
        font-size: 2.7125em;

        @include tabletUp() {
            margin: 0 0 80px;

            font-size: 3.125em;
        }
        
        @media (max-width: 767px) {
            margin-bottom: 20px;
        }
    }

    &__text {
        line-height: 1.4;

        @include tabletUp() {
            margin: 0 0 50px;
        }
    }

}

.vision__block {

    &--image {
        display: none;

        @include desktop() {
            display: block;
            height: $img-height;
            /*margin-left: 200px;*/

            flex-grow: 1;
            transform: translateX(40px);

            background: url(./vision-bg-new.png) no-repeat 0 50% transparent;
            background-size: contain;

            position: relative;
            background: none;

            &:before,
            &:after{
                content: '';
                display: block;
                position: absolute;
                z-index: 0;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
            }

            &:before{
                background: url(./aura-1-new.png) no-repeat 0 50% transparent;
                background-size: contain;
                width: 413px;
                height: 375px;
                top: 50%;
                left: 50%;
                margin: -239px 0 0 -352px;
                opacity: 0;
            }

            @media (max-width: 1450px){
                &:before{
                    margin: -262px 0 0 -353px;
                }
            }
            
            @media (max-width: 1400px){
                &:before{
                    margin: -258px 0 0 -300px;
                }
            }
            
            @media (max-width: 1350px){
                &:before{
                    margin: -257px 0 0 -311px;
                }
            }
            
            @media (max-width: 1300px){
                &:before{
                    margin: -257px 0 0 -278px;
                }
            }
            
            @media (max-width: 1250px){
                &:before{
                    margin: -257px 0 0 -262px;
                }
            }
            
            @media (max-width: 1200px){
                &:before{
                    margin: -257px 0 0 -239px;
                }
            }
            
            @media (max-width: 1150px){
                &:before{
                    margin: -257px 0 0 -229px;
                }
            }

            &.js-animated:before{
                animation-name: auraBg1;
                animation-delay: .5s;
                animation-duration: 5s;
                animation-fill-mode: both;
                transition-timing-function: cubic-bezier(0.23, 1, 0.32, 1);
            }

            @keyframes auraBg1{
                from{
                    opacity: 0;
                    transform: scale(.8);
                }
                10%{
                    opacity: 1;
                    transform: scale(1);
                }
                to{
                    opacity: 1;
                    transform: scale(1.15);
                }
            }
            
            &:after{
                background: url(./vision-bg.png) no-repeat 0 50% transparent;
                background-size: contain;
            }

        }
        
        @media (max-width: 1100px){
            display: none;
        }

    }

    &--text {
        max-width: 715px;
        position: relative;
        z-index: 1;
        
        @media (max-width: 1100px){
            max-width: 100%;
        }

    }
}
